{% set name = form.get('name') %}
{% set messageName = formElementErrors(name, {class: 'help-block'}) %}

{% set template = form.get('template') %}
{% set messageTemplate = formElementErrors(template, {class: 'help-block'}) %}

<div class="box-body">
	<div class="form-group {{ messageName ? 'has-error'}}">
		{{ formLabel(name) }}
		{{ formElement(name) }}
		{{ messageName | raw }}
	</div>
	<div class="form-group {{ messageTemplate ? 'has-error'}}">
		{{ formRow(template) }}
		{{ messageTemplate | raw }}
	</div>
	<div class="form-group">
		{{ formRow(form.get('tags')) }}
	</div>
</div>